<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		
		<add key="SaveXLS" value="zestawienie_{0}.xlsx" />
		<add key="StatystykaKatalog" value="C:\dyskD\wywal\testScan\Stat\" />
		<add key="StatystykaKatalog_prod" value="\\ccc-v444\Statystyka\" />
		<add key="RaportMiesiac_prod" value="C:\dyskD\wywal\testScan\Stat\Miesiac\"></add>
		
		<add key="LastDay" value="7" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
		  
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>