<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		
		
		<add key="StatystkaKatalog" value="C:\dyskD\wywal\testScan\Stat\" />
		<add key="StatystkaKatalogMiesiac" value="C:\dyskD\wywal\testScan\Stat\Miesiac\"></add>
		<add key="StatystkaKatalog_praca" value="\\ccc-v444\Statystyka\" />
		<add key="SklepNotIn" value="0,4000,199999,1732,3235,2308" />
		<add key="Poloczenie" value="ZFIt1CZDgOgg8RV5F1jAax2F5JIPZd9D6rogfo+8nVHght8W2E16v1j7Fz1j8bRkq9ON/LkpLrRUsy8ida/py2vv5n4RxXp2WU9wnuIIMzc6kUSaHOmV8HM+fIsMpA83FlRZEdbfc++l7bW9fpwQxw==" />	
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>